/* AboutUs.css */

.container {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-box {
    background-color: #f8f9fa;
    padding: 50px;
    margin-top: 20px;
    border-radius: 5px;
    
}

.content {
    margin: auto;
    max-width: 800px;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.img-responsive {
    max-width: 20%;
    height: auto;
   
    margin: auto;
}

/* AboutUs.css */

@media (max-width: 768px) {
    .content-box p {
      max-width: 27%;
      margin: 0 auto;
      
    }

    
  }
  