.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100%;
  max-width: 1400px;
  background-color: #f1f1f1 !important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.box-header {
  width: 100%;
  background-color: #f1f1f1 !important;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #75b8b8;
  background-color: #f0f0f0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h2 {
  font-size: 24px;
  color: #3498db !important;
  margin: 0;
}

.back-button {
  font-size: 16px;
  color: #3498db !important;
  font-weight: 400 !important;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #394240;
  border: 1px solid #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
}

/* ... (other styles) */
.box-content {
  padding: 20px;
}

.filter-section {
  margin-bottom: 20px;
  flex-basis: 100%; /* Take full width on small screens */
}

label {
  font-size: 16px;
  color: #3498db !important;
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

l {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .box-header {
    flex-direction: column;
    align-items: center;
  }

  .back-button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    margin: 10px;
  }

  .filter-section {
    margin-bottom: 10px;
  }

  .table th,
  .table td {
    padding: 6px;
  }
}
