.members-school-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-container {
  width: 100%;
  padding: 0 20px;
}

.box {
  width: 100%;
  max-width: 1400px;
  background-color: #f1f1f1 !important;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.box-header {
  background-color: #f0f0f0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #75b8b8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
}

h2 {
  font-size: 24px;
  color: #3498db;
  margin: 0;
}

.back-button {
  font-size: 16px;
  color: #3498db;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #394240;
  border: 1px solid #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* ... (other styles) */
.box-content {
  padding: 10px;
}

.filter-section {
  margin-bottom: 20px;
  flex-basis: 100%; /* Take full width on small screens */
}

label {
  font-size: 16px;
  color: #3498db;
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  color: #3498db;
}

/* ... (previous styles) */

.table-container {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set max height to enable scrolling */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left; /* Align text to the left */
}

.table th {
  background-color: #f2f2f2;
  width: 150px !important; /* Set a fixed width for header cells */
}

/* Adjust the width of the first column header */
.table th:first-child {
  width: auto; /* Set the width of the first column header to auto */
}

.table td {
  width: 150px !important; /* Set a fixed width for body cells */
  max-height: max-content !important;
  margin: 4px !important;
}

.table button {
  margin-right: 5px;
}

.table tbody tr {
  vertical-align: top;
  white-space: normal;
}