.new-user-school-admin-container {
  max-width: 1000px !important;
  margin: 80px auto 0;
  padding: 14px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-user-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.back-link {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5px;
}

.back-link:hover {
  background-color: #3498db;
  color: #fff;
}

.new-user-title {
  font-size: 20px;
  color: #3498db;
  margin-bottom: 10px;
}

.form-group {
  width: 100%;
  margin-bottom: 5px;
}

.label {
  font-size: 14px !important;
  color: #3498db;
  display: block;
  margin: 4px;
}

#birthdateLabel {
  margin-right: 5px !important;
}

.select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"] {
  width: 100%;
  padding: 4px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  color: #333;
  margin-bottom: 4px;
}

.date-input {
  display: block;
  margin-bottom: 6px;
}

.submit-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #3498db;
  padding:8px !important;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 14px;
  height: 2rem;
  margin-bottom: 5px;

}

.submit-button:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 768px) {
  .new-user-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .back-link {
    margin-bottom: 10px;
  }

  .select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"] {
  width: 100%;
  padding: 4px !important;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 12px !important;
  background-color: #fff;
  color: #333;
  margin-bottom: 4px;
}

}