/* SchoolMetaEditModal.css */

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5) !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    background-color: #f0f0f0;
    max-width: 1000px;
    max-height: max-content !important;  
    width: 90%; 
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal-header {
    max-height: 35px !important;
}

.edit-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.edit-modal label {
    margin-bottom: 0;
    color: #3498db;
    width: 200px;
    font-size: 14px;
}

.edit-modal input {
    margin-bottom: 3px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: black;
    width: 100%;
    min-width: 70px !important;
    box-sizing: border-box;
}

.edit-modal button {
    border: 1px solid #3498db;
    max-width: 80px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px !important;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-modal button:hover {
    background-color: #0097a7;
}

.edit-modal .save-button {
    background-color: #009cb1;
    color: white; 
    max-width: fit-content;
    margin: 2rem auto 0 auto; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.edit-modal .save-button:hover {
    background-color: #0097a7;
}

.edit-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}

.edit-modal .modal-header .close-button {
    background: none;
    border: none;
    max-width: 80px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
    order: -1;
}

.edit-modal form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.edit-modal .form-field {
    margin: 5px;
}

.navbar {
    z-index: 9999 !important;
}

.footer {
    z-index: 9999 !important;
}

.success-message {
    color:#0097a7;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .edit-modal {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .edit-modal {
        width: 90%;
    }
}
