body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 100px;
}

.content-box {
  min-width: max-content;
  max-width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.back-button {
  background-color: #fff !important;
  color: #fff !important;
}

.header {
  background-color: #f0f0f0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #3498db;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 12px !important;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

.logout-section {
  margin-top: 20px;
}

.logout-button {
  background-color: #e74c3c;
}

.logout-button:hover {
  background-color: #c0392b;
}

.counter {
  font-size: 18px;
  color: #7f8c8d;
}

@media (max-width: 768px) {
  .title {
      font-size: 24px;
  }
  .content-box {
      padding: 20px;
      overflow:hidden;
      max-width: 100%;
      
  }
  .buttons {
      flex-direction: column;
  }
  .buttons .col-lg-3, .buttons .col-md-6, .buttons .col-sm-12 {
      flex: 1 0 100%;
      max-width: 100%;
  }
  
}

